<section class="w-100 d-flex align-items-center justify-content-center hero-1">
	<h1>INSTANT GAMES</h1>
 </section>
<section class="d-flex flex-column gap-3 p-5 justify-content-center instant_container align-items-center" style="height: max-content;background-color: #04123b;">
	<iframe allowfullscreen="true" src="https://www.crazygames.com/embed/crazy-roll-3d"  frameborder="0" allow="gamepad *;" style="width:100%;height:500px;border-radius: 20px;"></iframe>

    <div class="w-100 d-flex  align-items-center justify-content-evenly px-3 gap-3">
		<iframe id="gameframe" src="https://5dd312fa-015f-11ea-ad56-9cb6d0d995f7.poki-gdn.com/c50bb9f0-6b32-47f2-800f-cc8a8a9e12ef/index.html?country=IN&amp;url_referrer=https%3A%2F%2Fwww.kiloo.com%2F&amp;v=1668708236182&amp;game_id=5dd312fa-015f-11ea-ad56-9cb6d0d995f7&amp;game_version_id=c50bb9f0-6b32-47f2-800f-cc8a8a9e12ef" allowfullscreen="" allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" scrolling="no" style="width:40%;height:500px;"></iframe>
		<span class="d-flex align-items-center  flex-column" style="width: 60%;height:500px;">
			<iframe id="gameframe" src="https://a83061a3-6c94-48d3-b9c5-65b31b279a78.poki-gdn.com/7929912f-9d77-4215-be6c-9916a1095c09/index.html?country=IN&amp;url_referrer=https%3A%2F%2Fpoki.com%2F&amp;tag=pg-v3.48.0&amp;categories=3%2C37%2C77%2C101%2C385%2C1013%2C1179&amp;site_id=3&amp;iso_lang=en&amp;poki_url=https%3A%2F%2Fpoki.com%2Fen%2Fg%2Fjetpack-joyride&amp;v=1668664030627&amp;game_id=a83061a3-6c94-48d3-b9c5-65b31b279a78&amp;game_version_id=7929912f-9d77-4215-be6c-9916a1095c09" allow="autoplay; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" scrolling="no"style="height:400px;width:100%;border-radius:20px 20px 0 0;" muted = true ></iframe>
            <span class="w-100 d-flex align-items-center justify-content-center bg-secondary" style="height: 100px;border-radius: 0 0px 20px 20px;">
				<h1>Experience Instant Games</h1>
			</span>
		</span>
		<!-- <iframe id="game-element" allowfullscreen="true" allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" name="gameFrame" scrolling="no" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads" src="https://games.poki.com/458768/84938be4-42ce-42a8-9968-2f5f2a7618d8?tag=pg-v3.47.0&amp;site_id=3&amp;categories=3,4,6,9,93,903,929,1103,1126,1137,1140,1143,1147,1163,1179&amp;iso_lang=en&amp;country=IN&amp;poki_url=https://poki.com/en/g/temple-run-2" title="Game" style="width: 30%;height:500px; "muted = true ></iframe> -->
	</div>

	<div class="w-100 d-flex align-items-center  gap-3">
		<iframe allowfullscreen="true"  src="https://www.crazygames.com/embed/worm-hunt" style="width: 30%; height: 400px;" frameborder="0" allow="gamepad *;"></iframe>
	
		<iframe src="https://www.crazygames.com/embed/drift-hunters" style="width: 100%; height: 400px;" frameborder="0" allow="gamepad *;"></iframe>
	</div>
	
	<div class="w-100 d-flex align-items-center justify-content-evenly gap-3">
		<iframe allowfullscreen="true"  src="https://www.crazygames.com/embed/ninja-hands" style="width: 70%; height: 400px;" frameborder="0" allow="gamepad *;"></iframe>
	
	<iframe allowfullscreen="true"  src="https://www.crazygames.com/embed/ships-3d" style="width: 30%; height: 400px;" frameborder="0" allow="gamepad *;"></iframe>
	</div>

	<div class="w-100 d-flex align-items-center justify-content-evenly gap-3">
		<iframe allowfullscreen="true" src="https://www.crazygames.com/embed/air-wars-3"  frameborder="0" allow="gamepad *;" style="width:50%;height:400px;"></iframe>

		<iframe allowfullscreen="true"  src="https://www.crazygames.com/embed/crazy-drift" style="width: 50%; height: 400px;" frameborder="0" allow="gamepad *;"  allowfullscreen="true"></iframe>
	</div>

	<div class="w-100 d-flex align-items-center justify-content-evenly gap-3">
		<iframe allowfullscreen="true" src="https://www.crazygames.com/embed/amazing-strange-rope-police-vice-spider"  frameborder="0" allow="gamepad *;" style="width:50%;height:600px;"></iframe>

		<span class="d-flex flex-column align-items-center justify-content-evenly gap-3" style="width: 50%;height:600px;">
			<iframe allowfullscreen="true" src="https://www.crazygames.com/embed/hide-n-seek"  frameborder="0" allow="gamepad *;" style="width:100%;height:50%;border-radius: 20px;"></iframe>
            <iframe allowfullscreen="true" src="https://www.crazygames.com/embed/funny-battle-simulator"  frameborder="0" allow="gamepad *;" style="width:100%;height:50%;border-radius: 20px;"></iframe>

		</span>
	</div>
	
	<div class="w-100 d-flex align-items-center justify-content-evenly gap-3">
		
		<span class="d-flex flex-column align-items-center justify-content-evenly gap-3" style="width: 50%;height:600px;">
			<iframe allowfullscreen="true" src="https://www.crazygames.com/embed/sniper-master"  frameborder="0" allow="gamepad *;" style="width:100%;height:50%;border-radius: 20px;"></iframe>
            <iframe allowfullscreen="true" src="https://www.crazygames.com/embed/mini-royale-nations"  frameborder="0" allow="gamepad *;" style="width:100%;height:50%;border-radius: 20px;"></iframe>

		</span>
		
		<iframe allowfullscreen="true" src="https://www.crazygames.com/embed/voxiom-io"  frameborder="0" allow="gamepad *;" style="width:50%;height:600px;"></iframe>	

		
	</div>
	<div class="playmore d-flex align-items-center justify-content-center w-100">
		<h1 class="display-1">Click Me To Explore More Games</h1>
	  </div>
	
    
</section>	
<!-- 
	<iframe id="game-element" allowfullscreen="true" allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" name="gameFrame" scrolling="no" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads" src="https://games.poki.com/5dd312fa-015f-11ea-ad56-9cb6d0d995f7?tag=pg-v3.47.0&amp;site_id=3&amp;categories=3,4,6,9,86,93,96,103,903,929,1103,1126,1137,1140,1143,1147,1156,1159,1160,1163,1179&amp;iso_lang=en&amp;country=IN&amp;poki_url=https://poki.com/en/g/subway-surfers" title="Game" style="width: 100%;height:500px; border-radius:10px;" muted></iframe>
	<iframe id="game-element" allowfullscreen="true" allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" name="gameFrame" scrolling="no" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads" src="https://games.poki.com/458768/84938be4-42ce-42a8-9968-2f5f2a7618d8?tag=pg-v3.47.0&amp;site_id=3&amp;categories=3,4,6,9,93,903,929,1103,1126,1137,1140,1143,1147,1163,1179&amp;iso_lang=en&amp;country=IN&amp;poki_url=https://poki.com/en/g/temple-run-2" title="Game" style="width: 100%;height:500px; border-radius:10px;" muted></iframe>
<iframe id="gameframe" src="https://d906751a-9c75-44f7-851b-9b49712f3896.poki-gdn.com/15d40233-47b1-4737-bc17-0e4230e266b4/index.html?country=IN&amp;url_referrer=https%3A%2F%2Fpoki.com%2F&amp;tag=pg-v3.48.0&amp;categories=3%2C65%2C76%2C77%2C93%2C385%2C929%2C1120%2C1126%2C1136%2C1140%2C1143%2C1147%2C1156%2C1159%2C1164&amp;site_id=3&amp;iso_lang=en&amp;poki_url=https%3A%2F%2Fpoki.com%2Fen%2Fg%2Fvenge-io&amp;v=1668662388172&amp;game_id=d906751a-9c75-44f7-851b-9b49712f3896&amp;game_version_id=15d40233-47b1-4737-bc17-0e4230e266b4" allow="autoplay; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write" scrolling="no" style="width: 100%;height:500px; border-radius:10px;" muted></iframe>

<iframe src="https://www.crazygames.com/embed/highway-racer" style="width: 100%; height: 100%;" frameborder="0" allow="gamepad *;"></iframe>
<iframe src="https://www.crazygames.com/embed/city-classic-car-driving-131" style="width: 100%; height: 100%;" frameborder="0" allow="gamepad *;"></iframe>
<iframe src="https://www.crazygames.com/embed/crazy-roll-3d" style="width: 100%; height: 100%;" frameborder="0" allow="gamepad *;"></iframe>
<iframe src="https://www.crazygames.com/embed/ninja-hands" style="width: 100%; height: 100%;" frameborder="0" allow="gamepad *;"></iframe>
<iframe src="https://www.crazygames.com/embed/sniper-master" style="width: 100%; height: 100%;" frameborder="0" allow="gamepad *;"></iframe>
<iframe src="https://www.crazygames.com/embed/forward-assault" style="width: 100%; height: 100%;" frameborder="0" allow="gamepad *;"></iframe>
<iframe src="https://www.crazygames.com/embed/fields-of-fury" style="width: 100%; height: 100%;" frameborder="0" allow="gamepad *;"></iframe> -->
