<div class="topbutton d-flex align-items-center justify-content-center"  >
	<a href="/instant/#instant" class="mt-2"><fa-icon  [icon]="FaAngleUp" class="FaAngleUp fa-2x" style="color: #fff;"></fa-icon></a>
</div>
<section id="instant" class="w-100 d-flex align-items-center justify-content-center hero-1">
	<h1>INSTANT GAMES</h1>
 </section>
<section class="d-flex flex-column gap-3 p-5 justify-content-center instant_container align-items-center" style="height: max-content;background-color: #04123b;">
	<iframe loading="lazy" allowfullscreen="true" src="https://www.crazygames.com/embed/crazy-roll-3d"  frameborder="0" allow="gamepad *;" style="width:100%;height:500px;border-radius: 20px;"></iframe>
   
    

		<iframe loading="lazy" allowfullscreen="true"  src="https://www.crazygames.com/embed/worm-hunt"  style="width:90%;height:500px;border-radius: 20px;" frameborder="0" allow="gamepad *;"></iframe>
	
		<iframe loading="lazy" src="https://www.crazygames.com/embed/drift-hunters"  style="width:100%;height:500px;border-radius: 20px;" frameborder="0" allow="gamepad *;"></iframe>

	
	
		<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/ninja-hands"  style="width:90%;height:500px;border-radius: 20px;" frameborder="0" allow="gamepad *;"></iframe>
	
	<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/ships-3d"  style="width:100%;height:500px;border-radius: 20px;" frameborder="0" allow="gamepad *;"></iframe>
	
	
		<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/air-wars-3"  frameborder="0" allow="gamepad *;" style="width:90%;height:500px;border-radius: 20px;"></iframe>

		<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/crazy-drift"  style="width:100%;height:500px;border-radius: 20px;" frameborder="0" allow="gamepad *;"  allowfullscreen="true"></iframe>
	

	
		<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/amazing-strange-rope-police-vice-spider"  frameborder="0" allow="gamepad *;"  style="width:90%;height:500px;border-radius: 20px;"></iframe>

	
			<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/hide-n-seek"  frameborder="0" allow="gamepad *;"  style="width:100%;height:500px;border-radius: 20px;"></iframe>
            <iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/funny-battle-simulator"  frameborder="0" allow="gamepad *;"  style="width:90%;height:500px;border-radius: 20px;"></iframe>

	
			<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/sniper-master"  frameborder="0" allow="gamepad *;"  style="width:100%;height:500px;border-radius: 20px;"></iframe>

            <iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/mini-royale-nations"  frameborder="0" allow="gamepad *;"  style="width:90%;height:500px;border-radius: 20px;"></iframe>

	
		<iframe allowfullscreen="true" loading="lazy" src="https://www.crazygames.com/embed/voxiom-io"  frameborder="0" allow="gamepad *;"  style="width:100%;height:500px;border-radius: 20px;"></iframe>	

		<iframe src="https://www.crazygames.com/embed/bloxdhop-io" loading="lazy" style="width:100%;height:500px;border-radius: 20px;" frameborder="0" allow="gamepad *;"></iframe>

	<a href="https://www.crazygames.com/" style="text-decoration: none;">
	<div class="playmore px-3  py-4 d-flex align-items-center justify-content-center w-100">
		<h1 class="display-1 v">Click Me To Explore More Games</h1>
	</div>
</a>
	
    
</section>	
