
<div class="contents w-100 flex-wrap d-flex align-items-center justify-content-center" id="role">
    <img src="/assets/img/Race and Flying/f-1.webp" alt="">
	<img src="/assets/img/Race and Flying/f-2.webp" alt="">
	<img src="/assets/img/Race and Flying/r-1.webp" alt="">
	<img src="/assets/img/Race and Flying/f-4.webp" alt="">
	<img src="/assets/img/Race and Flying/f-5.webp" alt="">
	<img src="/assets/img/Race and Flying/r-5.webp" alt="">
	<img src="/assets/img/Race and Flying/r-2.webp" alt="">
	<img src="/assets/img/Race and Flying/r-3.webp" alt="">
	<img src="/assets/img/Race and Flying/r-4.webp" alt="">
	<a  routerLink="/games" ><img src="/assets/img/more.png" alt=""></a>
  </div>
  