
<div class="contents w-100 flex-wrap d-flex align-items-center justify-content-center" id="strategy">
    <img src="/assets/img/strategy/s-1.webp" alt="">
	<img src="/assets/img/strategy/s-2.webp" alt="">
	<img src="/assets/img/strategy/s-3.webp" alt="">
	<img src="/assets/img/strategy/s-4.webp" alt="">
	<img src="/assets/img/strategy/s-5.webp" alt="">
	<img src="/assets/img/strategy/s-6.webp" alt="">
	<img src="/assets/img/strategy/s-7.webp" alt="">
	<img src="/assets/img/strategy/s-10.webp" alt="">`
	<img src="/assets/img/strategy/s-9.avif" alt="">
	<img routerLink="/games" src="/assets/img/more.png" alt="">
  </div>
  