@media (min-width:0) and (max-width:815px){
	.y{
		width: 370px;
		height: 400px;
	}
   }
@media (max-width:483px){
	.y{
		width: 370px;
		height: 400px;
	}
  }
@media (min-width: 484px) and (max-width: 1166px) { 
	.y{
		width: 370px;
		height: 400px;
	}
}