
<div class="contents w-100 flex-wrap d-flex align-items-center justify-content-center" id="multi">
    <img src="/assets/img/role play/g-1.webp" alt="">
	<img src="/assets/img/role play/c-1.webp" alt="">
	<img src="/assets/img/role play/c-2.webp" alt="">
	<img src="/assets/img/role play/s-2.webp" alt="">
	<img src="/assets/img/role play/b-1.webp" alt="">
	<img src="/assets/img/role play/g-2.webp" alt="">
	<img src="/assets/img/role play/s-1.webp" alt="">
	<img src="/assets/img/role play/p-1.webp" alt="">
	<img src="/assets/img/role play/c-3.webp" alt="">
	<img src="/assets/img/more.png" alt="" (click)="open()">
  </div>
  