<!-- <header class="d-flex align-items-center justify-content-around flex-wrap w-100 py-3" style="height: max-content;background-color: #000;user-select: none;">
<span class="d-flex align-items-center gap-3 justify-content-center">
	<a href="https://santhosh-technologies.netlify.app"> <img
		width="90"
		alt="Angular Logo"
		src="/assets/img/x.png"
		class="img"
		/></a>
	<h1 class="display-3 text-white mt-3">Santhosh Gaming</h1>
</span>
<span class="d-flex fw-bold justify-content-center align-items-center gap-5 mt-3 fs-4">
	<a href="http://localhost:4200/home" class="text-white"><li class="nav">Home</li></a>
	<a href="" class="text-white"><li class="nav">Community</li></a>
</span>
</header> -->

<section class="w-100 d-flex align-items-center justify-content-center hero-1">
   <h1 class="display-1">ALL GAMES</h1>
</section>
<section>
	<div class="contents w-100 flex-wrap d-flex align-items-center justify-content-center">
	<img src="/assets/img/action and adventure/a-1.webp" alt="">
    <img src="/assets/img/action and adventure/a-3.webp" alt="">
    <img src="/assets/img/action and adventure/a-2.webp" alt="">
    <img src="/assets/img/action and adventure/a-8.webp" alt="">
    <img src="/assets/img/action and adventure/a-6.webp" alt="">
    <img src="/assets/img/action and adventure/a-5.webp" alt="">
    <img src="/assets/img/action and adventure/a-7.webp" alt="">
    <img src="/assets/img/action and adventure/a-4.webp" alt="">
    <img src="/assets/img/action and adventure/a-9.webp" alt="">
	<img src="/assets/img/Race and Flying/f-1.webp" alt="">
	<img src="/assets/img/Race and Flying/f-2.webp" alt="">
	<img src="/assets/img/Race and Flying/r-1.webp" alt="">
	<img src="/assets/img/Race and Flying/f-4.webp" alt="">
	<img src="/assets/img/Race and Flying/f-5.webp" alt="">
	<img src="/assets/img/Race and Flying/r-5.webp" alt="">
	<img src="/assets/img/Race and Flying/r-2.webp" alt="">
	<img src="/assets/img/Race and Flying/r-3.webp" alt="">
	<img src="/assets/img/Race and Flying/r-4.webp" alt="">
	<img src="/assets/img/role play/g-1.webp" alt="">
	<img src="/assets/img/role play/c-1.webp" alt="">
	<img src="/assets/img/role play/c-2.webp" alt="">
	<img src="/assets/img/role play/s-2.webp" alt="">
	<img src="/assets/img/role play/b-1.webp" alt="">
	<img src="/assets/img/role play/g-2.webp" alt="">
	<img src="/assets/img/role play/s-1.webp" alt="">
	<img src="/assets/img/role play/p-1.webp" alt="">
	<img src="/assets/img/role play/c-3.webp" alt="">
	<img src="/assets/img/sports/b-1.jpg" alt="">
	<img src="/assets/img/sports/c-1.webp" alt="">
	<img src="/assets/img/sports/c-2.webp" alt="">
	<img src="/assets/img/sports/f-1.jpg" alt="">
	<img src="/assets/img/sports/f-2.webp" alt="">
	<img src="/assets/img/sports/v-1.webp" alt="">
	<img src="/assets/img/sports/g-1.webp" alt="">
	<img src="/assets/img/sports/t-1.webp" alt="">
	<img src="/assets/img/sports/tt-1.webp" alt="">
	<img src="/assets/img/strategy/s-1.webp" alt="">
	<img src="/assets/img/strategy/s-2.webp" alt="">
	<img src="/assets/img/strategy/s-3.webp" alt="">
	<img src="/assets/img/strategy/s-4.webp" alt="">
	<img src="/assets/img/strategy/s-5.webp" alt="">
	<img src="/assets/img/strategy/s-6.webp" alt="">
	<img src="/assets/img/strategy/s-7.webp" alt="">
	<img src="/assets/img/strategy/s-10.webp" alt="">
	<img src="/assets/img/strategy/s-9.avif" alt="">
	</div>
</section>

		
						