.img:hover{
	transform: rotate(-25deg); 
	transition: 0.3s ease-in;
	box-shadow: 0 0 10px #212121;
	border-radius: 50%;
  }
.img{
	transition: 0.3s ease;
}
a{
	text-decoration: none;
}
.hero-1{
	width:100%; 
	display: flex;
	align-items: center ;
	justify-content: center;
	background-image: url("/assets/img/wol.jpg");
	background-size: cover;
	background-position: center;
	background-origin: border-box;
	margin-top: -100px;
	height: 600px;
	
	z-index: -1;	
}
.hero-1 h1{
	font-size: 8rem;
	letter-spacing: 20px;
	color: #fff;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contents{
	gap: 2%;
	background-color: #04123b;
   }
   .contents img{
	width: 250px;
	height: 48%;
	margin-top: 4%;
	border-radius: 10px;
	transition: 0.3s ease-out;
   }
   .contents img:hover{
	box-shadow: 0 10px #fff;
	transform: scale(1.06);
	transition: 0.3s ease-in;
   }
   @media (min-width:0) and (max-width:815px){
	.hero-1 h1{
		text-align: center;
		font-size: 4rem;
		letter-spacing: 10px;
		color: #fff;
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
   }
   @media (max-width:483px){
	.hero-1{
	  margin-top: -26px;
	  height: 350px;
	  background-size: auto 500px;
	 
	}
  }
  @media (min-width: 484px) and (max-width: 1166px) { 
	.hero-1{
	  margin-top: -30px;
	
	}
}