<section class="hero-1 ps-3 pt-3 pb-3">
	<div class="communitycontent ">
		<h1> <b >#</b>GAMING <b style="color: #f26522;"> COMMUNITY</b></h1>
		<br>
		<h2>Ensure an Amazing Gaming Experience</h2>
	
		<span class="w-100 d-flex align-items-center justify-content-center">
		
          <a href="#head"> <button class="btn btn-lg play">PLAY NOW</button></a>
		</span>
	</div>
	<model-viewer class="gameroom" src="/assets/img/3d objects/room.glb" poster="/assets/img/3d objects/" min-camera-orbit="-30deg 80deg " interpolation-decay="180"  field-of-view="42deg" 
	disable-zoom
	max-camera-orbit="65deg 90deg "
	disable-tap camera-controls ar>
	</model-viewer>
 </section>
<section class="tournaments">
	<h1></h1>
	<div class="cards">
		<div class="card" style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>
		  
		  <div class="card" style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card" style="width: 18rem;"> 
			<model-viewer src="/assets/img/3d objects/marvel_3.glb" camera-controls
			  disable-zoom  
			 disable-zoom disable-tap
			 min-camera-orbit="-360deg 80deg "
			 max-camera-orbit="360deg 90deg "
			 class="card-img-top" alt="..."
			 style="height:300px;width: 100%;"></model-viewer>
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>
</div>
</section>
