.gameroom{
	width: 55%;
	height: 85%;
	background-color: transparent;
}
.communitycontent{
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.communitycontent h2{
	font-size: 2rem;
	color: #fff;
	font-family: 'Secular One', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
}
.play{
	border: 2px solid #73b501;
	color: #73b501;
	font-size: 24px;
	font-family: 'Chakra Petch', sans-serif;
}
.play:hover{
	background-color: #73b501;
	color: #fff;
}
.communitycontent h1{
	font-size: 5rem;
	letter-spacing: 10px;
	color: #fff;
	font-family: 'Chakra Petch', sans-serif;
}
.hero-1{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(11, 11, 81);
	
	margin-top: -100px;
	height: 600px;
	width: 100%;
	z-index: -1;	
}


.contents{
	gap: 2%;
   }
   .contents img{
	width: 250px;
	height: 48%;
	margin-top: 4%;
	border-radius: 10px;
	transition: 0.3s ease-out;
   }
   .contents img:hover{
	box-shadow: 0 10px #fff;
	transform: scale(1.06);
	transition: 0.3s ease-in;
   }
   .contents img:nth-child(10):hover{
	box-shadow: 10px 10px #7bce60;
	transform: scale(1.06);
	transition: 0.3s ease-in;
   }
   @media (min-width:0) and (max-width:815px){
	.hero-1 h1{
		text-align: center;
		font-size: 3rem;
		text-shadow: 10px 5px 10px #21212180;
		letter-spacing: 10px;
		color: #fff;
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
   }
   @media (max-width:483px){
	.hero-1{
	  margin-top: -26px;
	  height: 350px;
	  background-size: cover;
	  /* background-position: -100px -20px; */
	 
	}
  }
  @media (min-width: 484px) and (max-width: 1166px) { 
	.hero-1{
	  margin-top: -30px;
	
	}
}