<section class="hero-1 ps-3 pt-3 pb-3">
	<div class="communitycontent ms-5">
		<h1> <b >#</b>GAMING <b style="color: #f26522;"> COMMUNITY</b></h1>
		<br>
		<h2>Ensure an Amazing Gaming Experience</h2>
		<br>
		<span class="w-100 d-flex align-items-center justify-content-center">
		
          <a href="#head"> <button class="btn btn-lg play">PLAY NOW</button></a>
		</span>
	</div>
	<model-viewer class="gameroom" src="/assets/img/3d objects/room.glb" poster="/assets/img/3d objects/" min-camera-orbit="-30deg 80deg " interpolation-decay="180"  field-of-view="42deg" 
	disable-zoom
	max-camera-orbit="65deg 90deg "
	disable-tap camera-controls ar>
	</model-viewer>
 </section>
 <model-viewer src="/assets/img/3d objects/room.glb" camera-controls ></model-viewer>
