<section class="hero-1 ps-3 pt-3 pb-3">
	<div class="communitycontent ">
		<h1> <b >#</b>GAMING <b style="color: #f26522;"> COMMUNITY</b></h1>
		<br>
		<h2>Ensure an Amazing Gaming Experience</h2>
	
		<span class="w-100 d-flex align-items-center justify-content-center">
		
          <a href="#head"> <button class="btn btn-lg play">PLAY NOW</button></a>
		</span>
	</div>
	<model-viewer class="gameroom" src="/assets/img/3d objects/room.glb" poster="/assets/img/3d objects/" min-camera-orbit="-30deg 80deg " interpolation-decay="180"  field-of-view="42deg" 
	disable-zoom
	max-camera-orbit="65deg 90deg "
	disable-tap camera-controls ar>
	</model-viewer>
 </section>
<section class="tournaments">
	<h1><b style="font-size: 7rem;vertical-align: -10px;" class="hash">#</b>Upcoming Tournaments</h1>
	<div class="cards">
		<div class="card" style="width: 20rem;" [ngClass]="[ isFavorite ? 'd-flex' : 'd-none']"> 
			<img src="/assets/img/action and adventure/a-1.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>
		  
		  <div class="card" style="width: 20rem;"> 
			<img src="/assets/img/action and adventure/a-2.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 20rem;" [ngClass]="[ isFavorite ? 'd-flex' : 'd-none']"> 
			<img src="/assets/img/action and adventure/a-3.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 20rem;"> 
			<img src="/assets/img/action and adventure/a-4.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 20rem;" [ngClass]="[ isFavorite ? 'd-flex' : 'd-none']"> 
			<img src="/assets/img/action and adventure/a-5.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 20rem;"> 
			<img src="/assets/img/action and adventure/a-6.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card " style="width: 20rem;" [ngClass]="[ isFavorite ? 'd-flex' : 'd-none']"> 
			<img src="/assets/img/action and adventure/a-7.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		  </div>

		  <div class="card" style="width: 20rem;"> 
			<img src="/assets/img/action and adventure/a-8.webp" alt="">
			<div class="card-body">
			  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  <a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			
		  </div>
		  
		  <button class="btn  fs-1  mt-4 viewmore"  (click)="display()"> <span>{{View}}</span><span>{{More}}</span> </button>
</div>
</section>
