@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&family=Secular+One&display=swap');

::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
 background-color: #21212160;

}
::-webkit-scrollbar-thumb{
	background-color: #f58122;
	/* border-radius: 20%; */
	transition: 0.5s ease;
}
