
<div class="contents w-100 flex-wrap d-flex align-items-center justify-content-center" id="sports">
    <img src="/assets/img/sports/b-1.jpg" alt="">
	<img src="/assets/img/sports/c-1.webp" alt="">
	<img src="/assets/img/sports/c-2.webp" alt="">
	<img src="/assets/img/sports/f-1.jpg" alt="">
	<img src="/assets/img/sports/f-2.webp" alt="">
	<img src="/assets/img/sports/v-1.webp" alt="">
	<img src="/assets/img/sports/g-1.webp" alt="">
	<img src="/assets/img/sports/t-1.webp" alt="">
	<img src="/assets/img/sports/tt-1.webp" alt="">
	<img src="/assets/img/more.png" alt="" (click)="open()">
  </div>
  
