<div class="contents w-100 flex-wrap d-flex align-items-center justify-content-center" id="sim">
    <img loading="lazy" src="/assets/img/action and adventure/a-1.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-3.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-2.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-8.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-6.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-5.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-7.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-4.webp" alt="">
    <img loading="lazy" src="/assets/img/action and adventure/a-9.webp" alt="">
    <img loading="lazy" routerLink="/games" src="/assets/img/more.png" alt="">
  </div>